// colors
$orange: #e45028;
$yellow: #f9b43b;
$dark_orange: #c1401e;


@import './normalize';
@import './sections/welcome';
@import './sections/best';
@import './sections/reviews';
@import './layout/base.scss';
@import './sections/sidebar';
@import './sections/_team';
@import './sections/_menu';
@import './sections/contacts';

@import './layout/fonts';