html {
	position: relative;
	min-height: 100%;
	font-size: 16px;

	@include tablets {
		font-size: 14px;
	}

	@include phones {
		font-size: 13px;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;	
	width: 100%;
	min-height: 100%;
}

ul {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

.wrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 95%;
	max-width: 58.75rem;
	height: 100%;
	display: flex;
	&_welcome {
		flex-direction: column;
		justify-content: space-between;
	}
	&_best {
		flex-direction: column;
		justify-content: center;
	}
	&_order {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.section-title {
	font-family: 'Gagalin Regular';
	font-size: 4.5rem;
	color: #2f3234;
	line-height: 4rem;
	text-align: center;
	&__best {
		margin-bottom: 3.4375rem;
		@include tablets {
			font-size: 5.14rem;
		}
		@include phones {
			font-size: 3.8rem;
		}
	}
	&__team {
		color: $yellow;
		text-align: left;
		margin-bottom: 2.8125rem;
		@include tablets {
			text-align: center;
			font-size: 5.14rem;
		}
		@include phones {
			font-size: 3.8rem;
		}
	}
	&__menu {
		text-align: left;
		color: #fff;
		position: absolute;
		top: 9.375rem;
		left: 12.5rem;
		@include tablets {
			font-size: 5.14rem;
			top: 4.375rem;
			left: 2.5rem;
		}
		@include phones {
			font-size: 3.84rem;
		}
	}
	&__order {
		color: $yellow;
		margin-bottom: 2.1875rem;
		@include tablets {
			font-size: 5.14rem;
			margin-bottom: 3.5rem;
		}
		@include phones {
			font-size: 3.8rem;
			line-height: 4.6rem;
		}
	}
}

.button {
	display: flex;
	padding: 0.625rem 0.9375rem;
	border-radius: 0.3125rem;
	text-decoration: none;
	font-size: 0.8125rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}