.reviews {
	height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
	&__list {
		display: flex;
		flex-flow: row wrap;
		overflow: hidden;
	}
	&__item {
		display: flex;
		position: relative;
		list-style-type: none;
		width: 25%;
		height: 50vh;
		filter: grayscale(100%);
		&:nth-child(1){
			background: url('../img/review-1.jpg') center no-repeat / cover;
		}
		&:nth-child(2){
			background: url('../img/review-2.jpg') center no-repeat / cover;
			&::before {
				content: "";
				width: 100%;
				height: 100%;
				background: black;
				position: absolute;
				opacity: .6;
			}
		}
		&:nth-child(3){
			background: url('../img/review-3.jpg') center no-repeat / cover;
		}
		&:nth-child(4){
			background: url('../img/review-4.jpg') center no-repeat / cover;
		}
		&:nth-child(5){
			background: url('../img/review-5.jpg') center no-repeat / cover;
		}
		&:nth-child(6){
			background: url('../img/review-6.jpg') center no-repeat / cover;
		}
		&:nth-child(7){
			background: url('../img/review-7.jpg') center no-repeat / cover;
		}
		&:nth-child(8){
			background: url('../img/review-8.jpg') center no-repeat / cover;
		}
	}
	&__content {
		padding: 100px 100px;
		z-index: 2;
		&_title {
			color: #fff;
			font-family: 'Gagalin Regular', sans-serif;
			font-size: 14px;
			font-weight: 400;
			line-height: 28.11px;
		}
		&_desc {
			color: #fff;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 20px;
		}
		&_button {
			background: #2f3234;
			text-align: center;
			padding: 10px 10px;
			border-radius: 3px;
			box-sizing: border-box;
			color: white;
			font-size: 0.8125rem;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}