.best {
	background: url('../img/bg_best.jpg') center;
	background-color: #b0bec5;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 280px;
		text-align: center;
	}	
	&__img {
		margin-bottom: 35px;
	}
	&__desc {
		display: flex;
		flex-direction: column;
	}
	&__title {
		font-family: 'Lifehack Medium', sans-serif;
		font-size: 24px;
		color: #2f3234;
		margin-bottom: 15px;
	}
	&__text {
		opacity: 0.8;
		color: #2f3234;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
	}
}