.reviews__list {
	list-style-type: none;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  &:hover {
    .reviews__hover {
      opacity: 1;
    }
  }
}

.reviews__hover {
	display: flex;
	align-items: center;
	height: 100%;
  background: rgba(#454545, .7);
  opacity: 0;
	transition: opacity .15s ease;
	&_content {
		padding: 0 20px;
	}
	&_title {
		color: #fff;
		font-family: 'Gagalin Regular', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
	}
	&_text {
		color: #fff;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 20px;
	}
	&_button {
		background: #2f3234;
		text-align: center;
		padding: 10px 15px;
		border-radius: 3px;
		box-sizing: border-box;
		color: white;
		font-size: 13px;
		text-transform: uppercase;
		text-decoration: none;
	}
}