.sidebar {
	position: fixed;
	right: 3.125rem;
	top: 6.25rem;
	z-index: 100;
	@include phones {
		right: 1.125rem;
	}
}

.nav {
	display: flex;
	&__list {
		display: flex;
		flex-flow: column wrap;
		list-style: none;
	}
	&__item {
		margin-bottom: 0.93rem;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #fff;
		&::before {
			content: '';
			position: absolute;
			width: 14px;
			height: 14px;
			background: transparent;
			border-radius: 50%;
			border: 1px solid #fff;
			opacity: 0;
		}
		&:hover::before {
			opacity: 1;
		} 
	}
}

.nav__item.active .nav__link::before {
	opacity: 1;
}