.video {
	background: url('../img/bg_video.jpg') center;
	background-color: #b0bec5;
	background-size: cover;
	height: 100vh;
	display: flex;
	align-items: center;
	@include tablets {
		background: url('../img/bg_video.jpg') no-repeat;
		background-size: cover;
		background-position-x: right;
	}
}

.work__player {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	margin-top: 3.125rem;
}	

.player__video {
	display: flex;
	width: auto;
	justify-content: center;
}

.work__video-window {
	width: 59.97%;
	height: 100%;
	@include tablets {
		width: 95%;
	}
}

.player {
	display: flex;
	height: 35px;
	width: 40%;
	background-color: #3e3e3e;
	padding: 0 1.25rem;
	@include tablets {
		width: 95%;
	}
	@include phones {
		width: 95%;
	}
}

.player__play {
	margin-right: 0.625rem;
	display: flex;
	align-items: center;
}

.player__play span {
	position: relative;
	display: none;
	width: 16px;
	height: 20px;
	background-color: #626262;
	margin-right: 10px;
	margin-left: 9px;
	transition: all .2s;
}

.player__play-img {
	height: 35px;
	width: 35px;
	fill: #626262;
	transition: fill .2s;
	&:hover {
		cursor: pointer;
	}
}

.player__scroll--progress {
	margin-right: 2.1875rem;
}

.player__scroll {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.player__scroll--volume {
	width: 15%;
}

.player__bar {
	position: relative;
	width: 100%;
	height: 4px;
	border-radius: 1px;
	background: #626262;
	&:hover {
		cursor: pointer;
	}
}

.player__progress-btn, .player__volume-btn {
	content: '';
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #626262;
	top: 50%;
	left: 0;
	will-change: left;
	transform: translateY(-50%);
	transition: all .2s;
}

.player__volume-btn {
	right: 0;
}

.player__volume {
	margin-right: 0.625rem;
}

.player__volume-img {
	height: 35px;
	width: 35px;
	fill: #626262;
	transition: fill .2s;
}

.player__scroll--volume {
	width: 15%;
}
.player__scroll {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.player__bar {
	position: relative;
	width: 100%;
	height: 4px;
	border-radius: 1px;
	background: #626262;
}

.player__progress-btn, .player__volume-btn {
	content: '';
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #626262;
	top: 50%;
	left: 0;
	will-change: left;
	transform: translateY(-50%);
	transition: all .2s;
}

.player__big-btn {
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}

.player__big-btn-img {
	fill: #ffffff;
	opacity: .7;
	transition: opacity .2s;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	@include tablets {
		width: 3.75rem;
	}
}

.player--active .player__big-btn {
	display:none
}

.player--active .player__play-img {
	display:none
}

.player--active .player__play span {
	display: block;
	&:hover {
		cursor: pointer;
	}
}

.player__play
{
	align-items: center;
	display: flex;
	margin-right: 0.625rem;
}

.player__play-img {
	fill: #626262;
	height: 35px;
	transition: fill .2s;
	width: 35px;
}

.player__play-img:hover {
	fill: #ffffff;
}

.player__play span {
	background-color: #626262;
	display: none;
	height: 20px;
	margin-left: 9px;
	margin-right: 10px;
	position: relative;
	transition: all .2s;
	width: 16px;
}

.player__play span:hover {
	background-color: #ffffff;
}

.player__play span:after {
	background-color: #3e3e3e;
	content: '';
	height: 100%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 5.333333px;
}

.player__scroll {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.player__scroll--progress {
	margin-right: 2.1875rem;
}

@media (max-width:768px) {
	.player__scroll--progress {
		margin-right: 0;
	}
}

.player__scroll--volume {
	width: 15%;
}

@media (max-width:768px) {
	.player__scroll--volume {
		display: none;
	}
}

.player__bar {
	background: #626262;
	border-radius: 1px;
	height: 4px;
	position: relative;
	width: 100%;
}

.player__progress-btn,.player__volume-btn {
	background-color: #626262;
	border-radius: 50%;
	content: '';
	display: block;
	height: 13px;
	left: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all .2s;
	width: 13px;
	will-change: left;
}

.player__scroll:hover .player__progress-btn,.player__scroll:hover .player__volume-btn {
	background-color: #ffffff;
}

.player__volume {
	margin-right: 0.625rem;
}

.player__volume-img {
	fill: #626262;
	height: 35px;
	transition: fill .2s;
	width: 35px;
}

.player__volume-img:hover {
	fill: #fff;
	cursor: pointer;
}

@media (max-width:768px) {
	.player__volume {
		display: none;
	}
}

.player__volume--mute .player__volume-img {
	fill: #e45028;
}

.player__big-btn {
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.player__big-btn-img {
	fill: #ffffff;
	opacity: .7;
	transition: opacity .2s;
}

.player__big-btn-img:hover {
	opacity: 1;
}

.player--active .player__big-btn {
	display: none;
}

.player--active .player__play-img {
	display: none;
}

.player--active .player__play span {
	display: block;
}


