.welcome {
	background: url('../img/bg.jpg') center;
	background-color: #b0bec5;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.9375rem 0 2.5rem 0;
	@include tablets {
		padding: 0;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include tablets {
		width: 95%;
		margin: 0 auto;
		padding-top: 0.85rem;
		z-index: 500;
	}
}

.container__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu {
	display: flex;
	align-items: center;
	&__nav {
		@include tablets {
			justify-content: center;
			align-items: center;
			display: none;
			background: rgba(47, 50, 52, 0.99);
			position: fixed;
			width: 100vw;
			height: 100vh;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 300;
		}
	}	
	&__list {
		display: flex;
		@include tablets {
			flex-direction: column;
			position: absolute;
			height: 30rem;
			display: flex;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		margin-right: 0.9375rem;
		&:last-child {
			margin-right: 0;
		}
		&::after {
			content: '•';
			color: #fff;
			margin-left: 0.9375rem;
		}
		&:last-child::after {
			content: '';
		}
		@include tablets {
			display: flex;
			flex-flow: column nowrap;
			margin: 0;
			&::after {
				margin: 0;
				margin-bottom: 0.8rem;
			}
		}	
	}
	&__link {
		font-size: 0.8125rem;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		transition: color .15s ease;
		&:hover {
			color: $orange;
		}
		@include tablets {
			margin-bottom: 0.8rem;
			font-size: 1.7rem;
			font-weight: 400;
		}
	}
}

.content {
	display: flex;
	align-items: center;
	@include tablets {
		flex-direction: column;
		text-align: center;
		width: 95%;
	}
	&__photo {
		margin-right: 1.875rem;
		@include tablets {
			margin-right: 0;
		}
	}
	&__img {
		@include tablets {
			width: 100%;
		}
	}
	&__desc {
		line-height: 5.3125rem;
		padding-top: 4.6875rem;
		@include tablets {
			padding-top: 2rem;
		}
	}
	&__title {
		font-size: 4.5rem;
		color: $yellow;
		font-family: 'Gagalin Regular', sans-serif;
		margin-bottom: 0.625rem;
		@include tablets {
			font-size: 5.65rem;
		}
		@include phones {
			font-size: 5rem;
		}
	}
	&__description {
		font-size: 4rem;
		color: #fff;
		font-family: 'Lifehack Medium', sans-serif;
		line-height: 3.75rem;
		@include tablets {
			font-size: 5.1rem;
			line-height: 5rem;
		}
		@include phones {
			font-size: 3.8rem;
		}
	}
}

.button__orange {
	background-color: $orange;
	@include phones {
		margin-right: 1.875rem;
	}
	@include tablets {
		margin-right: 1.875rem;
	}
	&:hover {
		background-color: $dark_orange;
		transition: .15s ease;
	}
}

.scroll-button {
	display: flex;
	justify-content: center;
	align-self: center;
}

.arrow-scroll {
	width: 1.8rem;
	height: 0.875rem;
	fill: #fff;
}

.logo-icon {
	width: 5.75rem;
	height: 4.3125rem;
}

.logo {
	z-index: 500;
	@include tablets {

	}
}

.mobile-menu {
	fill: #fff;
	width: 1.5rem;
	height: 1.5rem;
	display: none;
	@include phones {
		display: flex;
	}
	@include tablets {
		display: flex;
	}
}

.cross {
	display: none;
	@include tablets {
		display: none;
		position: fixed;
		right: 1.25rem;
		width: 1.25rem;
		height: 1.25rem;
		color: #fff;
		z-index: 500;
		text-decoration: none;
	}
	@include phones {
		right: 0.65rem;
	}
}
