.welcome {
	background: url('../img/bg.jpg') ;
	background-color: #b0bec5;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px 0 40px 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu {
	display: flex;
	align-items: center;
	&__list {
		display: flex;
	}
	&__item {
		display: flex;
		align-items: center;
		margin-right: 15px;
		&:last-child {
			margin-right: 0;
		}
		&::after {
			content: '•';
			color: #fff;
			margin-left: 15px;
		}
		&:last-child::after {
			content: '';
		}
	}
	&__link {
		font-size: 13px;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.content {
	display: flex;
	align-items: center;
	&__photo {
		margin-right: 30px;
	}
	&__desc {
		line-height: 85px;
		padding-top: 75px;
	}
	&__title {
		font-size: 72px;
		color: $yellow;
		font-family: 'Gagalin Regular', sans-serif;
		margin-bottom: 10px;
	}
	&__description {
		font-size: 65px;
		color: #fff;
		font-family: 'Lifehack Medium', sans-serif;
		line-height: 60px;
	}
}

.button__orange {
	background-color: $orange;
	&:hover {
		background-color: $dark_orange;
		transition: .15s ease;
	}
}

.scroll-button {
	display: flex;
	justify-content: center;
	align-self: center;
	&::after {
		content: '';
		background: url('../img/arrow-scroll.png') center;
		width: 29px;
		height: 14px;
	}
}