.welcome {
	background: url('../img/bg.jpg') center;
	background-color: #b0bec5;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.9375rem 0 2.5rem 0;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu {
	display: flex;
	align-items: center;
	&__list {
		display: flex;
		@include tablets {
			display: none;
		}
		@include phones {
			display: none;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		margin-right: 0.9375rem;
		&:last-child {
			margin-right: 0;
		}
		&::after {
			content: '•';
			color: #fff;
			margin-left: 0.9375rem;
		}
		&:last-child::after {
			content: '';
		}
	}
	&__link {
		font-size: 0.8125rem;
		font-weight: 500;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.content {
	display: flex;
	align-items: center;
	@include tablets {
		flex-direction: column;
		text-align: center;
	}
	&__photo {
		margin-right: 1.875rem;
	}
	&__img {
		width: 100%;
	}
	&__desc {
		line-height: 5.3125rem;
		padding-top: 4.6875rem;
		@include tablets {
			padding-top: 2rem;
		}
	}
	&__title {
		font-size: 4.5rem;
		color: $yellow;
		font-family: 'Gagalin Regular', sans-serif;
		margin-bottom: 0.625rem;
		@include tablets {
			font-size: 5.65rem;
		}
		@include phones {
			font-size: 5rem;
		}
	}
	&__description {
		font-size: 4rem;
		color: #fff;
		font-family: 'Lifehack Medium', sans-serif;
		line-height: 3.75rem;
		@include tablets {
			font-size: 5.1rem;
			line-height: 5rem;
		}
		@include phones {
			font-size: 3.8rem;
		}
	}
}

.button__orange {
	background-color: $orange;
	@include phones {
		margin-right: 1.875rem;
	}
	@include tablets {
		margin-right: 1.875rem;
	}
	&:hover {
		background-color: $dark_orange;
		transition: .15s ease;
	}
}

.scroll-button {
	display: flex;
	justify-content: center;
	align-self: center;
}

.arrow-scroll {
	width: 1.8rem;
	height: 0.875rem;
	fill: #fff;
}

.logo-icon {
	width: 5.75rem;
	height: 4.3125rem;
}

.mobile-menu {
	fill: #fff;
	width: 1.5rem;
	height: 1.5rem;
	display: none;
	@include phones {
		display: flex;
	}
	@include tablets {
		display: flex;
	}
}